<div class="container m-t-70">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">活动主题管理</div>
            <div class="panel-body">
                {{# if message }}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                {{/if}}
                <form action="/admin/themes" method="post">
                    <div class="form-group">
                        <label for="name">名称</label>
                        <input type="text" class="form-control" id="name" name="name"/>
                    </div>

                    <div class="form-group">
                        <label for="template">模版</label>
                        <select class="form-control" name="template" id="template">
                            <option value="post">post</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="description">描述</label>
                        <textarea class="form-control" rows="3" name="description" id="description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputFile">封面图片</label>
                        <input type="file" id="file-upload">
                        <input type="hidden" id="cover" name="cover"/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default">添加</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">主题列表</div>

            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>描述</th>
                    <th>封面</th>
                    <th>修改</th>
                </tr>
                </thead>
                <tbody>
                {{# each themes}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.cover}}</td>
                        <td>
                            <button class=" btn btn-remove" id="{{this.id}}">删除</button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{#content "scripts" mode="prepend"}}
    {{> scripts entry="admin-theme"}}
{{/content}}